#categories{
    background: whitesmoke;
    border-radius: 3px;
    padding: 3px 10px;
}
#categories:before{
    content: 'カテゴリ :';
    font-family: 'Noto Serif', 'Noto Serif JP', serif;
    font-size: smaller;
}
#categories > a{
    margin-left: 6px;
}

#document blockquote{
    background: #e8e8e8;
    margin: 0.5em 10px;
    padding: 5px 20px;
    border-radius: 4px;
}
#document blockquote > p{
    font-family: 'Noto Serif', 'Noto Serif JP', serif;
    font-size: 1.1em;
    margin: 0.6em 0;
}

