img#tachie{
    position: fixed;
    top: 40px;
    left: calc(50vw - 680px);
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
    transform: scale(0.8);
    transform-origin: left top;
    z-index: 2;
}

#profile > h1 > span{
    margin-left: 20px;
    font-size: 20px;
    color: #1c2529;
}
#profile > h1 > img{
    height: 1em;
    width: auto;
    margin-right: 5px;
    vertical-align: bottom;
    padding-bottom: 5px;
}

#back-name{
    position: fixed;
    top: 200px;
    left: calc(50vw - 760px);
    font-size: 300px;
    font-family: 'Noto Serif', serif;
    color: rgba(0,0,0,0.2);
    line-height: 1em;
    z-index: 1;
    user-select: none;
}

#student-info{
    font-size: 15px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.description{
    white-space: pre-line;
}

a.link.wiki{
    font-size: 13px;
    margin-left: 5px;
}
a.link.wiki:before{
    content: '\226b';
    vertical-align: center;
}
a.link{
    color: #0d6aad;
}


/* override */
footer > blockquote{
    color: rgba(255,255,255,0.5);
}
footer #footer-links > a{
    color: whitesmoke;
}

#search-box{
    display: flex;
    justify-content: space-between;
    margin: -10px 0 10px;
}

/* 特殊処理 */
img#tachie[data-star="nanadaiba"]{
    left: calc(50vw - 760px);
}
img#tachie[data-star="junnahoshimi"]{
    top: 10px;
}
img#tachie[data-star="kaorukohanayagi"]{
    top: 15px;
}
img#tachie[data-star="ichieotonashi"]{
    left: calc(50vw - 780px);
}
img#tachie[data-star="ruiakikaze"]{
    top: -30px;
}
img#tachie[data-star="aruruotsuki"]{
    left: calc(50vw - 750px);
    top: 0;
}
img#tachie[data-star="misorakano"]{
    left: calc(50vw - 740px);
    top: -40px;
}
img#tachie[data-star="lalafinnonomiya"]{
    left: calc(50vw - 730px);
}
img#tachie[data-star="shizuhakocho"]{
    left: calc(50vw - 720px);
    top: -20px;
}
img#tachie[data-star="akirayukishiro"]{
    left: calc(50vw - 730px);
}
img#tachie[data-star="michiruotori"]{
    left: calc(50vw - 730px);
}
img#tachie[data-star="shioriyumeooji"]{
    left: calc(50vw - 750px);
}
