.star-button{
    display: block;
    position: relative;
    width: 410px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 3px;
    text-decoration: none;
    margin: 20px 0 15px;
    color: #1c2529;
}

.star-button > *:not(.tachie){
    padding-left: 195px;
}
.star-button > .tachie{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 190px;
    height: calc(100% + 20px);
    background: transparent;
    background-size: 200px auto;
    background-position: right top;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.2));
    z-index: 15;
}
.star-button > .name{
    font-size: 22px;
    font-family: 'Noto Serif', 'Noto Serif JP', serif;
    padding: 3px 0 5px 195px;
    background: #1c2529;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.star-button > .school-info{
    padding: 3px 0 3px 195px;
}
.star-button > .cast-info{
    background: gray;
    color: white;
    padding: 1px 0 2px 195px;
    z-index: 10;
    width: 215px; /* 410px - 195px */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.star-button > .cast-info:before{
    content: 'Cast';
    margin-right: 10px;

}

/* スペーサ */
.buttons > img.spacer{
    width: 410px;
    height: 120px;
    margin: 15px 0;
    box-sizing: border-box;
    padding: 20px;
    object-fit: scale-down;
}

/* 特殊処理 */
.buttons.stars{
    padding-top: 5px;
}

.star-button[data-star="nanadaiba"] > .tachie{
    background-size: 240px auto;
}
.star-button[data-star="junnahoshimi"] > .tachie{
    height: calc(100% + 28px);
}
.star-button[data-star="mayatendo"] > .tachie{
    background-size: 220px auto;
    width: 200px;
}
.star-button[data-star="claudinesaijo"] > .tachie{
    background-size: 170px auto;
    background-position: right 10px top;
}
.star-button[data-star="futabaisurugi"] > .tachie{
    width: 195px;
    height: calc(100% + 15px);
}
.star-button[data-star="kaorukohanayagi"] > .tachie{
    height: calc(100% + 25px);
    background-size: 210px auto;
    background-position: right -25px top;
}
.star-button[data-star="tamaotomoe"] > .tachie{
    background-position: right -10px top;
}
.star-button[data-star="fumiyumeooji"] > .tachie{
    background-position: right -50px top 4px;
    background-size: 215px auto;
}
.star-button[data-star="ichieotonashi"] > .tachie{
    background-size: 230px auto;
}
.star-button[data-star="ruiakikaze"] > .tachie{
    background-position: right top -20px;
    background-size: 210px auto;
    height: calc(100% + 35px);
}
.star-button[data-star="yuyukotanaka"] > .tachie{
    background-size: 175px auto;
    background-position: right 25px top;
}
.star-button[data-star="aruruotsuki"] > .tachie{
    background-size: 230px auto;
    height: calc(100% + 35px);
}
.star-button[data-star="misorakano"] > .tachie{
    background-position: left -13px top -20px;
    background-size: 225px auto;
    height: calc(100% + 35px);
}
.star-button[data-star="tsukasaebisu"] > .tachie{
    background-size: 225px auto;
}
.star-button[data-star="shizuhakocho"] > .tachie{
    height: calc(100% + 35px);
    background-size: 240px auto;
    background-position: right -45px top;
}
.star-button[data-star="akirayukishiro"] > .tachie{
    background-size: 230px auto;
    width: 195px;
}
.star-button[data-star="michiruotori"] > .tachie{
    height: calc(100% + 35px);
    width: 195px;
    background-size: 197px auto;
}
.star-button[data-star="liumeifan"] > .tachie{
    background-position: right -5px top;
    background-size: 185px auto;
}
.star-button[data-star="shioriyumeooji"] > .tachie{
    background-position: right 10px top;
    background-size: 210px auto;
}
.star-button[data-star="yachiyotsuruhime"] > .tachie{
    background-position: right -10px top;
    background-size: 220px auto;
    width: 200px;
}
