body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background: #151515;
    color: #fffaf0;
    overflow-y: scroll;
    min-height: 100vh;
    min-width: 1300px;
    position: relative;
}
header{
    background: #333;
    padding: 3px 10px;
    display: flex;
    font-family: 'Noto Serif', serif;
}
header > h1, header > h1 > a{
    color: floralwhite;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
}

main, div[data-pagetype=fullwidth]{
    width: 1300px;
    margin: 0 auto;
    padding-bottom: 150px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1300px;
    margin: 0 auto;
    padding: 20px 0 10px;
    font-family: 'Noto Serif', 'Noto Serif JP', sans-serif;
    font-size: 15px;
    min-height: 100px;
    z-index: 10;
}
footer #footer-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    z-index: 10;
}
footer #footer-links > a{
    color: #cbc6cc;
    margin: 0 5px;
    margin-bottom: 130px;
}
footer > blockquote{
    text-align: center;
    font-style: italic;
    color: darkgray;
    margin: 10px 0 0;
}

/* heading */
h2{
    position: relative;
    background: lightgray;
    font-size: 24px;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
}
h2:after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: '\2726';
    text-align: right;
    color: white;
    width: 30px;
    height: 30px;
}


/* Table */
table.table{
    width: calc(100% + 10px);
    border-spacing: 2px 10px;
}
table.table th{
    width: 110px;
    background: gray;
    color: white;
    border-radius: 3px;
    text-align: center;
    box-shadow: inset 0 0 4px dimgray;
    position: relative;
}
table.table td{
    padding: 0 10px 0 8px;
    margin-right: 4px;
    position: relative;
}
table.table th::after,
table.table td::after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    border-bottom: dashed 1px gray;
}
table.table td::after{
    width: calc(100% - 10px);
}

/* PlainBox */
.plain-box{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    color: black;
}
