body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background: #151515;
    color: #fffaf0;
    overflow-y: scroll;
    min-height: 100vh;
    min-width: 1300px;
    position: relative;
}
header{
    background: linear-gradient(rgba(28, 37, 41, 0.2), transparent);
    padding: 3px 10px;
    display: flex;
    align-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Noto Serif', 'Noto Serif JP', serif;
    margin-bottom: 10px;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    position: fixed;
    z-index: 1000;
}
header > h1, header > h1 > a{
    color: floralwhite;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
}
header > nav{
    margin-left: 10px;
    padding: 3px 0 0;
    width: 100%;
}
header > nav > a{
    margin: 0 5px;
    color: white;
}

main, div[data-pagetype=fullwidth]{
    width: 1300px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 150px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1300px;
    margin: 0 auto;
    padding: 20px 0 10px;
    font-family: 'Noto Serif', 'Noto Serif JP', sans-serif;
    font-size: 15px;
    min-height: 100px;
    z-index: 10;
}
footer #footer-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    z-index: 10;
}
footer #footer-links > a{
    color: #cbc6cc;
    margin: 0 5px;
    margin-bottom: 130px;
}
footer > blockquote{
    text-align: center;
    font-style: italic;
    color: darkgray;
    margin: 10px 0 0;
}

/* heading */
section h1{
    margin: 0 0 10px;
    border-bottom: solid 2px black;
    font-size: 30px;
    font-family: 'Noto Serif', 'Noto Serif JP', serif;
    font-weight: bold;
    cursor: default;
}
h2{
    position: relative;
    background: lightgray;
    font-size: 24px;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
}
h2:after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: '\2726';
    text-align: right;
    color: white;
    width: 30px;
    height: 30px;
}
h3{
    margin: 10px 0;
    border-bottom: solid 2px gray;
}
h3:before{
    content: '\2726';
    color: gray;
    margin-right: 5px;
}


/* Table */
table.table{
    width: calc(100% + 10px);
    border-spacing: 2px 10px;
}
table.table th{
    width: 110px;
    background: gray;
    color: white;
    border-radius: 3px;
    text-align: center;
    box-shadow: inset 0 0 4px dimgray;
    position: relative;
}
table.table td{
    padding: 0 10px 0 8px;
    margin-right: 4px;
    position: relative;
}
table.table th::after,
table.table td::after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    border-bottom: dashed 1px gray;
}
table.table td::after{
    width: calc(100% - 10px);
}

/* PlainBox */
.plain-box{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    color: black;
    padding: 10px 20px;
    margin-bottom: 10px;
}

/* Styling */
hr{
    border: none;
    height: 1px;
    background: linear-gradient(90deg ,rgba(0,0,0,0), rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,0));
}

.buttons{
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
}
.buttons.il{
    display: block;
}

.button{
    display: inline-block;
    padding: 2px 10px;
    background: linear-gradient(white,white 40%,#d8dbe2 70%, #e1e1e9);
    border-radius: 5px;
    border: double 3px dimgray;
    box-shadow: inset 0 0 1px dimgray, 0 2px 2px lightgray;
    text-decoration: none;
    color: black;
}
.buttons:not(.jw) > .button{
    width: 30%;
}
.buttons.jw > .button{
    width: 230px;
}
.button.small{
    display: inline;
    padding: 0 5px;
    font-size: smaller;
    margin: 0 3px;
}

.msgbox{
    background: white;
    border-radius: 6px;
    min-width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.msgbox > .msgbox-top{
    position: relative;
    background-color: #ff7779;
    background-image:
        linear-gradient(140deg,  #f6565f, #f6565f 40%, transparent 40%, transparent),
        linear-gradient(120deg,  #fe6665, #fe6665 75%, transparent 75%, transparent),
        linear-gradient(-140deg, #f6565f, #f6565f 40%, transparent 40%, transparent),
        linear-gradient(-120deg, #fe6665, #fe6665 75%, transparent 75%, transparent);
    background-size: 120px auto;
    background-position: top left, top left, top right, top right;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 3px 0 9px;
    font-size: 18px;
    font-family: 'Noto Serif', 'Noto Serif JP', serif;
    text-decoration: underline dotted white;
    box-shadow: inset 0 -5px white, inset 0 0 0 2px #ff7779, inset 0 0 0 3px white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    height: 36px;
    box-sizing: border-box;
}
.msgbox > .msgbox-top:before{
    content: '\2726\2726';
    font-size: 25px;
    color: #ff7779;
    position: absolute;
    top: -1px;
    left: 0;
    transform: rotate(-30deg);
}
.msgbox > .msgbox-top:after{
    content: '\2726\2726';
    font-size: 25px;
    color: #ff7779;
    position: absolute;
    top: -1px;
    right: 0;
    transform: rotate(30deg);
}
.msgbox > .msgbox-body{
    padding: 0 20px;
}
.msgbox > .msgbox-foot{
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
}
.msgbox > .msgbox-foot > .button{
    width: 100px;
}
#msgbox-text{
    white-space: pre-line;
}

dialog{
    position: fixed;
    top: 50vh;
    transform: translate(0, -50%);
    border: none;
    margin: auto;
    background: transparent;
}
dialog::backdrop, dialog + .backdrop{
    position: fixed;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(0,0,0,0.4);
}

input.input-box{
    outline: none;
    border-radius: 4px;
    border: none;
    background: lightgray;
    box-shadow: inset 0 1px 3px gray;
    font-size: 15px;
    padding: 5px 6px;
}

/* Layout */
#info-box{
    position: relative;
    margin: 30px 0 0 470px;
    z-index: 10;
}
